body {
    transition: 4s opacity;
    margin: 0;
    width: 100%;
    font-family: 'Work Sans', sans-serif;
    background-color: #dcdcdc;
}

@media screen and (min-width: 600px) {
    body {
        display: flex;
        justify-content: center;
    }
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */

body.fade {
    opacity: 0;
    transition: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 25vh;
    background-color: #dcdcdc;
}

@media screen and (min-width: 600px) {
    .content {
        width: 40vh;
    }
}

.photo {
    width: 80%;
    overflow: hidden;
}


.photo, img {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 80%;
    border-radius: 100%;
    filter: grayscale(100%); 
}

.photo,img:hover {
    filter: grayscale(0%);
}

@media screen and (min-width: 600px) {
    .photo, img {
        width: 100%;
    }
}

.buttonLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 6%;
    background-color: #dcdcdc;
}

@media screen and (min-width: 600px) {
    .buttonLinks {
        width: 100%;
    }
}

.button {
    margin-top: 2%;
    color: #1d1b1b;
    text-align: center;
    padding: 10px 0px;
    text-decoration: inherit;
    font-size: 1.5rem;
}

@media screen and (max-width: 280px) {
    .button {
        font-size: 1.1rem;
    }
}


a:hover {
    color: #004d4d;
}

/*
.buttonLinks > a {
    text-decoration: inherit;
    border-bottom:3px solid #1985a1;
}
*/

.social {
    margin-top: 6%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.social, svg {
    filter: invert(34%) sepia(0%) saturate(611%) hue-rotate(159deg) brightness(113%) contrast(88%);
}

.svg:hover{
    opacity: .6;
}



